<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova saída SGE!</title>
</head>
<body>
    <p><h3>💻 Produto Vendido: <b>{{product}}</b></h3></p>
    <p>🔢 Quantidade: <b>{{quantity}}</b> unidade(s)</p>
    <p>💰 Valor Total da Venda: R$ <b>{{ total_price }}</b></p>
    <p>📈 Lucro Obtido: R$ <b>{{profit}}</b></p>
    <br><br>
    <p>
        Atenciosamente, <br>
        Sistema Gestão de Estoque (SGE)
    </p>
</body>
</html>